cryptography
pyOpenSSL
snowflake-connector-python
python-dotenv
apache-airflow-providers-snowflake
sqlalchemy
snowflake-sqlalchemy
apache-airflow-providers-amazon
apache-airflow-providers-postgres
apache-airflow-providers-common-sql
psycopg2-binary
pandas

